
<div class="oppourtunity-main-photo" style="background-image:url('<%= oppourtunity_photo_url @oppourtunity %>')">
  <div class="photo-overlay">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-6">
          <% if @oppourtunity.open? %>
            <p class="h5 text-success mb-3 mt-1">
              <strong>Open</strong>
            </p> 
          <% else %>
            <p class="h5 text-danger mb-3 mt-1">
              <strong>Closed</strong>
            </p> 
          <% end %>
          <p class="h2 mb-3"><%= @oppourtunity.name %></p>
        </div>
        <div class="col-lg-6 text-center">
          <div class="row p-3 "> 
            <div class="col">

            </div>
          </div>
        </div>
      </div>   
      <div class="row border-top border-bottom mt-5 mb-5 pt-4 pb-4">
        <div class="col-6">
          <% if @oppourtunity.open? %>
          <strong class="text-success"> Apply by <%= @oppourtunity.application_date.strftime("%a") %>, <%= @oppourtunity.application_date.day.ordinalize %> <%= @oppourtunity.application_date.strftime("%B") %>*</strong>
          <% else %>
          <strong><%= link_to "This brief is taken.", "#", class: "text-danger" %></strong>
          <% end %>
        </div>
        <div class="col-6 text-right">
          <strong><%= link_to "What is this?", "#", class: "text-success" %></strong>
        </div>
      </div>

      
   
      <div class="row">
        <div class="col">
          <p class="h3">Brief Description</p>

            <div id="opp-details">

              <p>
                <p class="h5">What is it?</p>
                <%= simple_format @oppourtunity.introduction %>
                <br>
                <p class="h5">What we need?</p>
                <%= simple_format @oppourtunity.body %>
                <br>
                <p class="h5">Expected timelines?</p>
                <%= simple_format @oppourtunity.conclusion %>
              </p>

            </div>

            <button class="btn btn-outline-info mt-3" id="toggleDetails">Show more</button>

            <div>
            <% if @oppourtunity.open? %>

              <p class="small mt-5"> 
              
              * This site was set up on a pro-bono basis, for designers who'd love to volunteer their services to help non-profits in their free time. As such, there is no payment involved for most short-term projects.
              <br><br>
              To qualify for your pro-bono volunteer help, the creative project should be short-term and ad-hoc, and should not require more than 20 hours of work over 4 weeks for each.
              <br><br>
              Examples include designing a poster, social media posts or simple infographics, short copy-writing, copy-editing, a consultation session or workshop, laying out a short brochure or handbook under 16 pages, designing a logo, or creating an illustration for a campaign.
              <br><br>
              For longer projects that span a few months, like detailed annual reports, a full rebrand or extensive research and writing, we recommend clients give a 10 – 20% of project value as a token of appreciation to you as a volunteer.
              <br><br>
              Do discuss this with the client and get the agreement down in writing, as well as take a portion of the fee as a down-payment as we’re unable to settle payment-related disputes.
              <br><br>
              For any further questions or advice on determining project value, feel free to write in to us via the contact page.
              <br><br>
              Before embarking on any project, ensure you're comfortable with the terms and pre-agree on how much time you are willing to commit to the project to avoid future heartache. Do set a limit on the number of rounds of changes.
              
              </p>

            <% end %>
            </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
            
      <%= render "oppourtunities/user_details", user: @user%>
      

    </div>
  </div>
</div>


<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
    <div class="col-12">
      <p class="h3 mb-3">Similar opportunities</p>
    </div>
      <%= render "oppourtunities/list", oppourtunities: @user_oppourtunities %>
    </div>
  </div>
</section>


<%= render "oppourtunities/apply_modal", user: @user%>